@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #333333;
  --heading: #222222;
  --secondary-bg: #f9f9f9;
  --accent: #c8a876;
  --border: #ddd;
  --shadow: rgba(0, 0, 0, 0.05);
  --font-montserrat: 'Montserrat', sans-serif;
  --font-cormorant-garamond: 'Cormorant Garamond', serif;
}



/* Manual dark mode override */
:root[class~="dark"] {
  --background: #1a1a1a;
  --foreground: #cccccc;
  --heading: #ffffff;
  --secondary-bg: #2a2a2a;
  --border: #444444;
  --shadow: rgba(255, 255, 255, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-cormorant-garamond);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}